.ImageSlider-main-wrapper {
    width: 300px;
    height: 200px;
    position: relative;
}

.ImageSlider-wrapper {
    width: 300px;
    height: 200px;
}

.FP-slider-img {
    width: 300px;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.offer-wrapper{
    position: absolute;
    top: 15px;
    left: 20%;
    transform: translateX(-50%);
    z-index: 8;
    background-color:#B91C1C ;
    color: white;
    font-size: 12px;
    font-weight: 400;
    width: 90px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
   
}

.slick-dots {
    display: none !important;
}


.slick-slider .custom-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 8;
    font-size: 0px;
}

.slick-slider .custom-dots li {
    margin: 0 5px;
    display: inline-block;

}

.slick-slider .custom-dots li button {
    background-color: white;
    border: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.slick-slider .custom-dots li button:hover {
    background: #ccc;
}

.slick-slider .custom-dots li.slick-active button {
    background: rgba(0, 0, 0, 0.645);
}